@model IEnumerable<Car_Factory.Models.Buyer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<img src="~/car3.gif" height="550" width="1120"/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller_ID.SellerID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BuyerID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BuyerID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BuyerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
